body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


#line,
#table,
#canvas,
#house,
#myCanvas,
#control,
#imgCanvas,
#canvasLoop,
#canvasForms,
#canvasLoop2,
#canvasLoop3,
#canvasLoop4,
#canvasCollision {
    margin: 5px;
    border: 1px solid black;

}

#spriteCanvas{
    margin: 5px;
    border: 1px solid black;
    background-color: aqua;

}
