body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#canvas,
#imgCanvas {
    margin: 10px;
    background-color: rgb(128, 123, 123);
}

#line,
#table,
#canvas,
#house,
#myCanvas,
#canvasLoop,
#canvasForms,
#canvasLoop2,
#canvasLoop3,
#canvasCollision {
    margin: 5px;
    border: 1px solid black;
}

#canvas,
#imgCanvas {
    margin: 10px;
    background-color: rgb(128, 123, 123);
}
